// Need eslint, eslint-plugin-react, eslint-babel installed
{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "eqeqeq": "error",
    "array-bracket-spacing": ["error","never"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "arrow-parens": ["error", "always"],
    "prefer-arrow-callback": "warn",
    "prefer-spread": "error",
    "sort-imports": "warn",
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-console": "off",
    "object-curly-spacing": [2, "always", {"objectsInObjects": false}],
    "no-empty": "warn"
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
